<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>404 Página de Error</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/pages']">Inicio</a></li>
          <li class="breadcrumb-item active">404 Error de Página</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="error-page">
    <h2 class="headline text-warning">404</h2>

    <div class="error-content">
      <h3>
        <i class="fas fa-exclamation-triangle text-warning"></i> Oops! No se
        Encontro la Pagina.
      </h3>

      <p>
        No pudimos encontrar la página que estabas buscando. Mientras tanto,
        puedes retornar a la <a [routerLink]="['/pages']">Página principal</a>.
      </p>
    </div>
  </div>
</section>
