<!-- <p>carpetas-list works!</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-info">
        <div class="card-header">
          <h2 class="card-title">
            CONFIGURACION DE CARPETAS INICIALES {{ cargando }} {{ hasError }}
          </h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-10">
                      <input
                        type="text"
                        name="nombre"
                        class="form-control mr-2"
                        placeholder="Esciba la Especialidad a buscar"
                        (input)="findCarpeta()"
                        [(ngModel)]="buscar.carpeta"
                        #name="ngModel"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4 text-right">
                  <a
                    class="btn btn-primary"
                    [routerLink]="[
                      '/pages/carpetas/carpetas-estructura/false/0'
                    ]"
                    >Agregar Configuracion de Carpetas</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- TABLA DE DATOS -->
          <section *ngIf="cargando; else loaderOnError">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>NUM</th>
                  <th>UNIDAD / AREA</th>
                  <th>RUTA</th>
                  <th>ESTADO</th>
                  <th class="text-center">ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of carpetas
                      | paginate
                        : {
                            itemsPerPage: cantReg,
                            currentPage: pagination,
                            totalItems: allCarpetas
                          }
                  "
                >
                  <td>{{ item.idCar }}</td>
                  <td>{{ item.unidad.unidad }}</td>
                  <td>{{ item.ruta }}</td>
                  <td>
                    <div class="" *ngIf="item.activo; else noActivo">
                      <h5 class="text-success"><i class="far fa-eye"></i></h5>
                    </div>
                    <ng-template #noActivo>
                      <h5 class="text-danger">
                        <i class="far fa-eye-slash"></i>
                      </h5>
                    </ng-template>
                  </td>
                  <td>
                    <div class="dropdown text-center">
                      <button
                        class="btn btn-info dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Acciones
                      </button>
                      <ul class="dropdown-menu">
                        <li *ngIf="verificar('EDITAR')">
                          <a
                            class="dropdown-item puntero"
                            [routerLink]="[
                              '/pages/carpetas/carpetas-estructura/true/' +
                                item.idCar
                            ]"
                          >
                            <i class="far fa-pen-to-square"></i> Editar</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item puntero"
                            (click)="activeCarpeta(item.idCar, item.activo)"
                          >
                            <i class="fa fa-check"></i> Cambiar estado</a
                          >
                        </li>
                        <li *ngIf="verificar('CAMBIAR_ESTADO')">
                          <a
                            class="dropdown-item puntero"
                            (click)="carpetaEstructura(item)"
                          >
                            <i class="fa fa-folder"></i>
                            Ver Detalle</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <div class="d-flex justify-content-center">
            <div class="col-md-1">
              <label for="form-label">Ver:</label>
            </div>
            <div class="col-md-1">
              <select
                name="cantReg"
                [(ngModel)]="cantReg"
                class="form-control"
                (change)="numRegistro()"
              >
                <option [value]="5">5</option>
                <option [value]="10" selected>10</option>
                <option [value]="20">15</option>
                <option [value]="30">20</option>
                <option [value]="40">30</option>
                <option [value]="50">40</option>
              </select>
            </div>
            <div class="col-md-10">
              <pagination-controls
                (pageChange)="renderPage($event)"
              ></pagination-controls>
            </div>
          </div>
          <!-- </section> -->
          <!-- FIN -->
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>

<!-- Modal Detalle de Carpetas -->
<div class="modal fade" id="modal-estructura">
  <app-carpetas-ver [item]="item" [estructura]="estructura"></app-carpetas-ver>
</div>
<!-- /.modal -->

<ng-template #loaderOnError>
  <!-- <section *ngIf="hasError; else loader">
    Ha ocurrido un error, refrescar la pagina para intentar nuevamente.
  </section>
  <ng-template #loader>
    <div class="d-flex justify-content-center">
      <i class="grande fas fa-spinner fa-spin"></i>
    </div>
  </ng-template> -->
  <app-load-table></app-load-table>
</ng-template>
