<a [routerLink]="['/pages']" class="brand-link">
  <img
    src="../../../../../assets/dist/img/cbes-logo.png"
    alt="CBES"
    class="brand-image img-circle elevation-3"
    style="opacity: 1; background-color: white"
  />
  <span class="brand-text font-weight-light">Archivos Clinicos</span>
</a>

<div class="sidebar">
  <div class="mt-5 text-center text-color" *ngIf="showMenu">
    <h3>BIENVENIDO</h3>
    <p class="text-justify">
      Por favor selecciona el menu a visualizar, este se encuentra en la parte
      superior.
    </p>
  </div>
  <!-- Construccion de Menu -->
  <nav class="mt-2">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="true"
    >
      <li class="nav-item" *ngFor="let item of menu">
        <!-- Con Hijos -->
        <a href="#" class="nav-link" *ngIf="item.padre">
          <i [ngClass]="item.icono"></i>
          <p>
            <strong>{{ item.nombreMenu }}</strong>
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <!-- Fin -->
        <!-- Sin hijos -->
        <a
          [routerLink]="[item.ruta]"
          class="nav-link"
          *ngIf="!item.padre"
          (click)="selecionarPermisos(item.permisosConcatenados)"
        >
          <i class="nav-icon" [ngClass]="item.icono"></i>
          <p>{{ item.nombreMenu }}</p>
        </a>
        <!-- Fin -->
        <!-- Lista de hijos -->
        <ul class="nav nav-treeview" *ngIf="item.padre">
          <li class="nav-item" *ngFor="let hijo of item.children">
            <a
              [routerLink]="[hijo.ruta]"
              class="nav-link"
              (click)="selecionarPermisos(hijo.permisosConcatenados)"
            >
              <i class="far fa-circle nav-icon"></i>
              <p>{{ hijo.nombreMenu }}</p>
            </a>
          </li>
        </ul>
        <!-- Fin -->
      </li>
    </ul>
  </nav>
  <!-- {{ menu }} -->
  <!-- FIN -->
</div>
