<div class="wrapper">
  <app-navbar (menu)="receiveRol($event)"></app-navbar>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <app-sidebar [menu]="menu" [refresh]="refresh"></app-sidebar>
  </aside>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Preloader -->
<div
  [ngClass]="cargando ? 'salida' : 'entrada'"
  class="flex-column justify-content-center align-items-center text-center"
>
  <app-cargando></app-cargando>
</div>
<!-- Fin Preloader -->
