<!-- <p>subir-archivos-list works!</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-info">
        <div class="card-header">
          <h2 class="card-title">SUBIR ARCHIVOS CLINICOS</h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <input
                    type="text"
                    name="matricula"
                    class="form-control mr-2"
                    placeholder="Esciba Matricula a buscar"
                    [(ngModel)]="buscar.matricula"
                    #name="ngModel"
                    (keyup)="validacionMatricula()"
                  />
                </div>
                <div class="col-md-4">
                  <input
                    type="text"
                    name="ci"
                    class="form-control mr-2"
                    placeholder="Esciba C.I. a buscar"
                    [(ngModel)]="buscar.ci"
                    #name="ngModel"
                  />
                </div>
                <div class="col-md-4 text-center">
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="findPersonaUnidad()"
                  >
                    Buscar
                  </button>
                  |
                  <button
                    type="button"
                    class="btn btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-sel-afiliados"
                  >
                    Agregar Afiliado
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- TABLA DE DATOS -->
          <!-- <section *ngIf="regionales; else loaderOnError"> -->
          <section *ngIf="cargando; else loaderOnError">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>NUM</th>
                  <th>NOMBRE</th>
                  <th>MATRICULA</th>
                  <th>CI</th>
                  <th>EMPRESA</th>
                  <th>TIPO BENEFICIARIO</th>
                  <th>UNIDAD / AREA</th>
                  <th>ESTADO</th>
                  <th>ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of perUni
                      | paginate
                        : {
                            itemsPerPage: cantReg,
                            currentPage: pagination,
                            totalItems: allPerUni
                          }
                  "
                >
                  <td>{{ item.idPu }}</td>
                  <td>
                    {{ item.persona.nombreCompleto }}
                  </td>
                  <td>{{ item.persona.matriculaTitular }}</td>
                  <td>{{ item.persona.ciBeneficiario }}</td>
                  <td>{{ item.persona.empresa }}</td>
                  <td>{{ item.persona.codigoDescripcion }}</td>
                  <td>{{ item.unidad.unidad }}</td>
                  <td>
                    <div class="" *ngIf="item.activo; else noActivo">
                      <h5 class="text-success"><i class="far fa-eye"></i></h5>
                    </div>
                    <ng-template #noActivo>
                      <h5 class="text-danger">
                        <i class="far fa-eye-slash"></i>
                      </h5>
                    </ng-template>
                  </td>
                  <td>
                    <div class="dropdown">
                      <button
                        class="btn btn-info dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Acciones
                      </button>
                      <ul class="dropdown-menu">
                        <li *ngIf="verificar('SUBIR_ARCHIVOS')">
                          <a
                            class="dropdown-item"
                            [routerLink]="[
                              '/pages/subir-archivos/subir-archivos-form',
                              item.idPu
                            ]"
                            >Subir Archivos</a
                          >
                        </li>
                        <li *ngIf="verificar('CAMBIAR_ESTADO')">
                          <a
                            class="dropdown-item puntero"
                            (click)="
                              activeSubirArchivos(item.idPu, item.activo)
                            "
                            >Cambiar Estado</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <div class="d-flex justify-content-center">
            <div class="col-md-1">
              <label for="form-label">Ver:</label>
            </div>
            <div class="col-md-1">
              <select
                name="cantReg"
                [(ngModel)]="cantReg"
                class="form-control"
                (change)="numRegistro()"
              >
                <option [value]="5">5</option>
                <option [value]="10" selected>10</option>
                <option [value]="20">15</option>
                <option [value]="30">20</option>
                <option [value]="40">30</option>
                <option [value]="50">40</option>
              </select>
            </div>
            <div class="col-md-10">
              <pagination-controls
                (pageChange)="renderPage($event)"
              ></pagination-controls>
            </div>
          </div>
          <!-- </section> -->
          <!-- FIN -->
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>

<!-- Modal Seleccionar Afiliado -->
<div class="modal fade" id="modal-sel-afiliados">
  <app-sel-afiliado (afiliado)="receiveAfiliado($event)"></app-sel-afiliado>
</div>
<!-- /.modal -->

<!-- Modal Seleccionar Unidad -->
<div class="modal fade" id="modal-sel-unidad">
  <app-sel-unidad (carpeta)="receiveCarpeta($event)"></app-sel-unidad>
</div>
<!-- /.Modal -->

<ng-template #loaderOnError>
  <app-load-table></app-load-table>
</ng-template>
