<!-- <p>tipos-atencion-form works!</p> -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        {{ isEdit ? "Editar Tipo de Atencón" : "Agregar Tipo de Atencón" }}
      </h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        (click)="limpiar()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form
      action=""
      [formGroup]="formTipoAtencion"
      (ngSubmit)="createTipoAtencion()"
    >
      <div class="modal-body">
        <div class="mb-2">
          <label for="" class="form-label">Tipo de Atención</label>
          <input
            type="text"
            formControlName="tipo"
            class="form-control"
            placeholder="Ingrese Tipo de Atención"
            uppercase
          />
          <div
            class="error mt-2"
            style="color: red"
            [hidden]="tipo.valid || tipo.pristine"
          >
            El Tiupo de Especialidad es obligatorio
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="limpiar()"
        >
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [hidden]="formTipoAtencion.invalid"
          [disabled]="isClicked"
        >
          {{ isEdit ? "Editar" : "Guardar" }}
        </button>
      </div>
    </form>
  </div>
</div>
