<!-- <p>especialidades-list works!</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-info">
        <div class="card-header">
          <h2 class="card-title">ESPECIALIDADES</h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-10">
                      <input
                        type="text"
                        name="nombre"
                        class="form-control mr-2"
                        placeholder="Esciba la Especialidad a buscar"
                        (input)="findEspecialidad()"
                        [(ngModel)]="buscar.especialidad"
                        #name="ngModel"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4 text-right">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-add-edit"
                    (click)="formAddEspecialidad(true)"
                  >
                    Agregar Especialidad
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- TABLA DE DATOS -->
          <section *ngIf="cargando; else loaderOnError">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>NUM</th>
                  <th>ESPECIALIDAD</th>
                  <th>ESTADO</th>
                  <th class="text-center">ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of especialidades
                      | paginate
                        : {
                            itemsPerPage: cantReg,
                            currentPage: pagination,
                            totalItems: allEspecialidad
                          }
                  "
                >
                  <td>{{ item.idEsp }}</td>
                  <td>{{ item.especialidad }}</td>
                  <td>
                    <div class="" *ngIf="item.activo; else noActivo">
                      <h5 class="text-success"><i class="far fa-eye"></i></h5>
                    </div>
                    <ng-template #noActivo>
                      <h5 class="text-danger">
                        <i class="far fa-eye-slash"></i>
                      </h5>
                    </ng-template>
                  </td>
                  <td>
                    <div class="dropdown text-center">
                      <button
                        class="btn btn-info dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Acciones
                      </button>
                      <ul class="dropdown-menu">
                        <li *ngIf="verificar('EDITAR')">
                          <a
                            class="dropdown-item puntero"
                            (click)="findEspecialidadByID(item)"
                          >
                            <i class="far fa-pen-to-square"></i> Editar</a
                          >
                        </li>
                        <li *ngIf="verificar('CAMBIAR_ESTADO')">
                          <a
                            class="dropdown-item puntero"
                            (click)="
                              activeEspecialidad(item.idEsp, item.activo)
                            "
                          >
                            <i class="fa fa-check"></i> Cambiar estado</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <div class="d-flex justify-content-center">
            <div class="col-md-1">
              <label for="form-label">Ver:</label>
            </div>
            <div class="col-md-1">
              <select
                name="cantReg"
                [(ngModel)]="cantReg"
                class="form-control"
                (change)="numRegistro()"
              >
                <option [value]="5">5</option>
                <option [value]="10" selected>10</option>
                <option [value]="20">15</option>
                <option [value]="30">20</option>
                <option [value]="40">30</option>
                <option [value]="50">40</option>
              </select>
            </div>
            <div class="col-md-10">
              <pagination-controls
                (pageChange)="renderPage($event)"
              ></pagination-controls>
            </div>
          </div>
          <!-- </section> -->
          <!-- FIN -->
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>

<!-- Modal Formulario Add & Edit Especialidad -->
<div class="modal fade" id="modal-add-edit">
  <app-especialidades-form
    [titulo]="titulo"
    [isEdit]="isEdit"
    [item]="item"
    (clearItem)="limpiar($event)"
  ></app-especialidades-form>
</div>
<!-- /.modal -->

<ng-template #loaderOnError>
  <app-load-table></app-load-table>
</ng-template>
