<!-- <p>carpetas-estructura works!</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-info">
        <div class="card-header">
          <div class="card-title">
            {{
              isEdit
                ? "EDITANDO CONFIGURACION DE CARPETAS INICIALES"
                : "AGREGANDO CONFIGURACION DE CARPETAS INICIALES"
            }}
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form
                action=""
                [formGroup]="formCarpeta"
                (ngSubmit)="createCarpeta()"
              >
                <div class="card card-info">
                  <div class="card-header">
                    <div class="card-title">Formulario</div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mb-2 col-md-12">
                          <label for="" class="form-label">Unidad</label>
                          <ng-select
                            [(ngModel)]="selectedCar"
                            formControlName="unidad"
                            (change)="changeUnidad()"
                          >
                            <ng-option
                              *ngFor="let uni of unidades"
                              [value]="uni.idUni"
                              >{{ uni.unidad }}</ng-option
                            >
                          </ng-select>
                          <div
                            class="error mt-2"
                            style="color: red"
                            [hidden]="unidad.valid || unidad.pristine"
                          >
                            La Unidad es obligatorio
                          </div>
                        </div>
                        <div class="mb-2 col-md-12">
                          <label for="" class="form-label">Ruta</label>
                          <input
                            type="text"
                            [(ngModel)]="selectedRuta"
                            formControlName="ruta"
                            class="form-control"
                            placeholder="Ingrese Ruta de la Carpeta"
                            uppercase
                            (change)="checkRuta()"
                            name="ngModel"
                          />
                          <div
                            class="error mt-2"
                            style="color: red"
                            [hidden]="ruta.valid || ruta.pristine"
                          >
                            La Ruta de carpetas es obligatorio
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="limpiar()"
                    >
                      Cancelar
                    </button>
                    <button
                      type="submit"
                      class="btn btn-success"
                      [hidden]="formCarpeta.invalid"
                      [disabled]="isClicked"
                    >
                      {{ isEdit ? "Editar" : "Guardar" }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <div class="card card-info">
                <div class="card-header">Estructura de Carpetas</div>
                <div class="card-body">
                  <h5>Lista de Carpetas</h5>
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="loadNew()"
                    [hidden]="formCarpeta.invalid"
                  >
                    <i class="fas fa-folder-plus"></i>
                    CARGAR
                  </button> | 
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="addFolder()"
                    [hidden]="formCarpeta.invalid"
                  >
                    <i class="fas fa-folder-plus"></i>
                    AGREGAR
                  </button> | 
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="clearFolder()"
                    [hidden]="formCarpeta.invalid"
                  >
                    <i class="fas fa-folder-plus"></i>
                    LIMPIAR
                  </button>
                  <div id="element-id" class="mt-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2">
      <form action="" [formGroup]="formCarpeta" (ngSubmit)="createCarpeta()">
        <div class="card card-info">
          <div class="card-header">
            <h2 class="card-title">
              {{
                isEdit
                  ? "EDITANDO CONFIGURACION DE CARPETAS INICIALES"
                  : "AGREGANDO CONFIGURACION DE CARPETAS INICIALES"
              }}
            </h2>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-2 col-md-12">
                  <label for="" class="form-label">Unidad</label>
                  <ng-select [(ngModel)]="selectedCar" formControlName="unidad">
                    <ng-option
                      *ngFor="let uni of unidades"
                      [value]="uni.idUni"
                      >{{ uni.unidad }}</ng-option
                    >
                  </ng-select>
                  <div
                    class="error mt-2"
                    style="color: red"
                    [hidden]="unidad.valid || unidad.pristine"
                  >
                    La Unidad es obligatorio
                  </div>
                </div>
                <div class="mb-2 col-md-12">
                  <label for="" class="form-label">Ruta</label>
                  <input
                    type="text"
                    formControlName="ruta"
                    class="form-control"
                    placeholder="Ingrese Ruta de la Carpeta"
                    uppercase
                    (change)="checkRuta()"
                  />
                  <div
                    class="error mt-2"
                    style="color: red"
                    [hidden]="ruta.valid || ruta.pristine"
                  >
                    La Ruta de carpetas es obligatorio
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-danger" (click)="limpiar()">
              Cancelar
            </button>
            <button
              type="submit"
              class="btn btn-success"
              [hidden]="formCarpeta.invalid"
              [disabled]="isClicked"
            >
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- <div class="col-md-6">
  <h5>Lista de Carpetas</h5> -->
<!-- <button type="button" (click)="loadStart()">CARGAR</button> -->
<!-- <button type="button" class="btn btn-primary" (click)="addFolder()">
    <i class="fas fa-folder-plus"></i>
    AGREGAR
  </button>
  <div id="element-id" class="mt-2"></div>
</div> -->
