<!-- <p>home works!</p> -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-lg-3 col-6 mt-3"
        *ngFor="let rep of reporte; let indice = index"
      >
        <!-- small box -->
        <span [ngSwitch]="indice">
          <div class="small-box bg-info" *ngSwitchCase="0">
            <div class="inner">
              <h3>{{ rep.total }}</h3>

              <p>{{ rep.tipo }}</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-doctor"></i>
            </div>
            <a [routerLink]="'reportes'" class="small-box-footer"
              >Más información <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>

          <div class="small-box bg-success" *ngSwitchCase="1">
            <div class="inner">
              <h3>{{ rep.total }}</h3>

              <p>{{ rep.tipo }}</p>
            </div>
            <div class="icon">
              <i class="fas fa-truck-medical"></i>
            </div>
            <a [routerLink]="'reportes'" class="small-box-footer"
              >Más información <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>

          <div class="small-box bg-warning" *ngSwitchCase="2">
            <div class="inner">
              <h3>{{ rep.total }}</h3>

              <p>{{ rep.tipo }}</p>
            </div>
            <div class="icon">
              <i class="fas fa-hospital-user"></i>
            </div>
            <a [routerLink]="'reportes'" class="small-box-footer"
              >Más información <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>

          <div class="small-box bg-danger" *ngSwitchCase="3">
            <div class="inner">
              <h3>{{ rep.total }}</h3>

              <p>{{ rep.tipo }}</p>
            </div>
            <div class="icon">
              <i class="fas fa-bed-pulse"></i>
            </div>
            <a [routerLink]="'reportes'" class="small-box-footer"
              >Más información <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </span>
      </div>
    </div>
  </div>
</section>
