<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">ESTRUCTURA DE CARPETAS</h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        (click)="limpiar()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="mb-2 col-md-6">
          <label for="" class="form-label">Unidad:</label>
          {{ item ? item.unidad.unidad : "" }}
        </div>
        <div class="mb-2 col-md-6">
          <label for="" class="form-label">Sigla:</label>
          {{ item ? item.unidad.sigla : "" }}
        </div>
        <div class="mb-2 col-md-6">
          <label for="" class="form-label">Ruta:</label>
          {{ item ? item.ruta : "" }}
        </div>
        <div class="mb-2 col-md-6">
          <label for="" class="form-label">Estado:</label>
          {{ item ? (item.activo ? "SI" : "NO") : "" }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <button
            type="button"
            class="btn btn-info"
            (click)="loadStart()"
            [hidden]="cargando"
          >
            Desplegar
          </button>
          <button
            type="button"
            class="btn btn-info"
            (click)="limpiar()"
            [hidden]="!cargando"
          >
            Ocultar
          </button>
        </div>
        <div id="element-id" class="mt-2"></div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        data-bs-dismiss="modal"
        (click)="limpiar()"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>
