<!-- <p>prestamos-form works!</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2">
      <form action="" [formGroup]="formPrestamo" (ngSubmit)="addPrestamo()">
        <div class="card card-info">
          <div class="card-header">
            <h2 class="card-title">
              {{
                isEdit
                  ? "EDITAR PRESTAMOS DE ARCHIVOS CLINICOS"
                  : "AGREGAR PRESTAMOS DE ARCHIVOS CLINICOS"
              }}
            </h2>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <app-afiliado [header]="header" [show]="show"></app-afiliado>

            <div class="card card-primary card-outline">
              <div class="card-header">
                <h2 class="card-title"><strong>Datos del Prestamo</strong></h2>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="mb-2">
                      <label for="" class="form-label">Tomo</label>
                      <ng-select
                        [(ngModel)]="selectedTom"
                        formControlName="tomo"
                        placeholder="Seleccione un Tomo de la lista."
                      >
                        <ng-option
                          *ngFor="let to of tomos"
                          [value]="to.idTom"
                          >{{ to.tomo }}</ng-option
                        >
                      </ng-select>
                      <div
                        class="error mt-2"
                        style="color: red"
                        [hidden]="tomo.valid || tomo.pristine"
                      >
                        Seleccione un Tomo porque es obligatorio
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-2">
                      <label for="" class="form-label"
                        >Fecha de Prestamo:</label
                      >
                      <input
                        type="date"
                        formControlName="fechaPrestamo"
                        class="form-control"
                        placeholder="Seleccione una Fecha Valida."
                      />
                      <div
                        class="error mt-2"
                        style="color: red"
                        [hidden]="fechaPrestamo.valid || fechaPrestamo.pristine"
                      >
                        Seleccione una Fecha Valida porque es obligatorio
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-2">
                      <label for="" class="form-label">Hora de Prestamo:</label>
                      <input
                        type="time"
                        formControlName="horaPrestamo"
                        class="form-control"
                        placeholder="Seleccione una Hora Valida."
                      />
                      <div
                        class="error mt-2"
                        style="color: red"
                        [hidden]="horaPrestamo.valid || horaPrestamo.pristine"
                      >
                        Seleccione una Hora Valida porque es obligatorio
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-2">
                  <label for="" class="form-label">Observaciones:</label>
                  <textarea
                    class="form-control"
                    rows="3"
                    formControlName="obsPrestamo"
                    placeholder="Ingrese las Observaciones"
                  ></textarea>
                  <div
                    class="error mt-2"
                    style="color: red"
                    [hidden]="obsPrestamo.valid || obsPrestamo.pristine"
                  >
                    Escriba alguna observación porque es obligatorio
                  </div>
                </div>
              </div>
              <div class="footer"></div>
            </div>

            <div class="card card-warning card-outline">
              <div class="card-header">
                <h2 class="card-title">
                  <strong>Datos del Médico</strong>
                </h2>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="">Nombre:</label>
                        {{ showMedico ? selMedico.MEDI_NOM : "" }}
                        {{ showMedico ? selMedico.MEDI_APAT : "" }}
                        {{ showMedico ? selMedico.MEDI_AMAT : "" }}
                      </div>
                      <div class="col-md-6">
                        <label for="">Especialidad:</label>
                        {{ showMedico ? selMedico.ESP_NOM : "" }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#modal-sel-medico"
                >
                  Seleccionar Médico
                </button>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer text-right">
            <button
              class="btn btn-danger mr-2"
              [routerLink]="['/pages/prestamos/prestamos-list/']"
            >
              Cancelar
            </button>
            <button
              type="submit"
              class="btn btn-success"
              [hidden]="formPrestamo.invalid"
              [disabled]="isClicked"
            >
              {{ isEdit ? "Editar" : "Guardar" }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Seleccionar Afiliado -->
<div class="modal fade" id="modal-sel-medico">
  <app-selec-medico (medico)="receiveMedico($event)"></app-selec-medico>
</div>
<!-- /.modal -->
