<!-- <p>reporte-load works!</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-danger">
        <div class="card-header">
          <h2 class="card-title">
            REPORTE DE ARCHIVOS CLINICOS SUBIDOS SEGUN TIPO DE ATENCION POR
            RANGO DE FECHA
          </h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <input
                    type="date"
                    name="fInicio"
                    class="form-control mr-2"
                    placeholder="Esciba Matricula a buscar"
                    [(ngModel)]="buscar.fInicio"
                    #name="ngModel"
                  />
                </div>
                <div class="col-md-5">
                  <input
                    type="date"
                    name="fFin"
                    class="form-control mr-2"
                    placeholder="Esciba C.I. a buscar"
                    [(ngModel)]="buscar.fFin"
                    #name="ngModel"
                  />
                </div>
                <div class="col-md-2 text-center">
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="findReporteLoad()"
                  >
                    Buscar
                  </button>
                  <button
                    type="button"
                    class="btn btn-success ml-2"
                    (click)="downloadReporte()"
                    [hidden]="showDownload"
                  >
                    Exportar PDF
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- TABLA DE DATOS -->
          <section *ngIf="cargando; else loaderOnError">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>TIPO</th>
                  <th>CONTEO</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of reporte
                      | paginate
                        : {
                            itemsPerPage: cantReg,
                            currentPage: pagination,
                            totalItems: allReporte
                          }
                  "
                >
                  <td>{{ item.tipo }}</td>
                  <td>
                    {{ item.total }}
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <div class="d-flex justify-content-center">
            <div class="col-md-1">
              <label for="form-label">Ver:</label>
            </div>
            <div class="col-md-1">
              <select
                name="cantReg"
                [(ngModel)]="cantReg"
                class="form-control"
                (change)="numRegistro()"
              >
                <option [value]="5">5</option>
                <option [value]="10" selected>10</option>
                <option [value]="20">15</option>
                <option [value]="30">20</option>
                <option [value]="40">30</option>
                <option [value]="50">40</option>
              </select>
            </div>
            <div class="col-md-10">
              <pagination-controls
                (pageChange)="renderPage($event)"
              ></pagination-controls>
            </div>
            <!-- </section> -->
            <!-- FIN -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loaderOnError>
  <section *ngIf="hasError; else loader">
    Ha ocurrido un error, refrescar la pagina para intentar nuevamente.
  </section>
  <ng-template #loader>
    <div class="d-flex justify-content-center">
      <i class="grande fas fa-spinner fa-spin"></i>
    </div>
  </ng-template>
</ng-template>
