<!-- <p>prestamos-list works!</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-secondary">
        <div class="card-header">
          <h2 class="card-title">PRESTAMOS DE ARCHIVOS CLINICOS REALIZADOS</h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <input
                    type="text"
                    name="nombre"
                    class="form-control"
                    placeholder="Esciba Nombre del Afiliado a buscar"
                    [(ngModel)]="buscar.afialiado"
                    #name="ngModel"
                  />
                </div>
                <div class="col-md-3">
                  <input
                    type="text"
                    name="nombre"
                    class="form-control"
                    placeholder="Esciba el Nombre del Médico a buscar"
                    [(ngModel)]="buscar.medico"
                    #name="ngModel"
                  />
                </div>
                <div class="col-md-4">
                  <ng-select [(ngModel)]="buscar.estado">
                    <ng-option
                      *ngFor="let te of tipoEstado"
                      [value]="te.estado"
                      >{{ te.estado }}</ng-option
                    >
                  </ng-select>
                </div>
                <div class="col-md-1">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="findPrestamo()"
                  >
                    Buscar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- TABLA DE DATOS -->
          <section *ngIf="cargando; else loaderOnError">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>NUM</th>
                  <th>AFIALIADO</th>
                  <th>TOMO</th>
                  <th>FECHA / HORA PRESTAMO</th>
                  <th>FECHA / HORA DEVOLUCION</th>
                  <th>MEDICO</th>
                  <th>ESTADO</th>
                  <th>ACTIVO</th>
                  <th class="text-center">ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of prestamos
                      | paginate
                        : {
                            itemsPerPage: cantReg,
                            currentPage: pagination,
                            totalItems: allPrestamos
                          }
                  "
                >
                  <td>{{ item.idPre }}</td>
                  <td>
                    {{ item.persona.nombres }} {{ item.persona.apPaterno }}
                    {{ item.persona.apMterno }}
                  </td>
                  <td>{{ item.tomo.tomo }}</td>
                  <td>{{ item.fechaPrestamo }} - {{ item.horaPrestamo }}</td>
                  <td>
                    {{ item.fechaDevolucion ? item.fechaDevolucion : "N" }} -
                    {{ item.horaDevolucion ? item.horaDevolucion : "N" }}
                  </td>
                  <td>
                    {{ item.medico.nombres }} {{ item.medico.apPaterno }}
                    {{ item.medico.apMaterno }}
                  </td>
                  <td>
                    <div
                      class=""
                      *ngIf="item.estado == 'DEVUELTO'; else noEstado"
                    >
                      <h6 class="text-success">
                        <i class="fas fa-check"></i> {{ item.estado }}
                      </h6>
                    </div>
                    <ng-template #noEstado>
                      <h6 class="text-danger">
                        <i class="fas fa-xmark"></i> {{ item.estado }}
                      </h6>
                    </ng-template>
                  </td>
                  <td>
                    <div class="" *ngIf="item.activo; else noActivo">
                      <h5 class="text-success"><i class="far fa-eye"></i></h5>
                    </div>
                    <ng-template #noActivo>
                      <h5 class="text-danger">
                        <i class="far fa-eye-slash"></i>
                      </h5>
                    </ng-template>
                  </td>
                  <td>
                    <div class="dropdown text-center">
                      <button
                        class="btn btn-info dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Acciones
                      </button>
                      <ul class="dropdown-menu">
                        <li
                          *ngIf="
                            item.estado == 'PRESTAMO' && verificar('EDITAR')
                          "
                        >
                          <a
                            class="dropdown-item puntero"
                            [routerLink]="[
                              '/pages/prestamos/prestamos-form/',
                              item.idPre,
                              item.persona.idPer,
                              true
                            ]"
                          >
                            <i class="far fa-pen-to-square"></i> Editar</a
                          >
                        </li>
                        <li
                          *ngIf="
                            item.estado == 'PRESTAMO' &&
                            verificar('DEVOLVER_PRESTAMO')
                          "
                        >
                          <a
                            class="dropdown-item puntero"
                            (click)="devolverPrestamo(item.idPre, item.estado)"
                          >
                            <i class="fa fa-recycle"></i> Devolver Prestamo</a
                          >
                        </li>
                        <li *ngIf="verificar('CAMBIAR_ESTADO')">
                          <a
                            class="dropdown-item puntero"
                            (click)="activePrestamo(item.idPre, item.activo)"
                          >
                            <i class="fa fa-check"></i> Cambiar Activo</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <div class="d-flex justify-content-center">
            <div class="col-md-1">
              <label for="form-label">Ver:</label>
            </div>
            <div class="col-md-1">
              <select
                name="cantReg"
                [(ngModel)]="cantReg"
                class="form-control"
                (change)="numRegistro()"
              >
                <option [value]="5">5</option>
                <option [value]="10" selected>10</option>
                <option [value]="20">15</option>
                <option [value]="30">20</option>
                <option [value]="40">30</option>
                <option [value]="50">40</option>
              </select>
            </div>
            <div class="col-md-10">
              <pagination-controls
                (pageChange)="renderPage($event)"
              ></pagination-controls>
            </div>
          </div>
          <!-- </section> -->
          <!-- FIN -->
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>

<!-- Modal Nueva Regional -->
<div class="modal fade" id="modal-add">
  <!-- <app-form-regional></app-form-regional> -->
  <!-- <app-prestamos-form></app-prestamos-form> -->
</div>
<!-- /.modal -->

<ng-template #loaderOnError>
  <app-load-table></app-load-table>
</ng-template>
