<!-- <p>auth-form works!</p> -->
<div class="hold-transition login-page">
  <form action="" [formGroup]="formLogin" (ngSubmit)="login()">
    <div class="login-box">
      <div class="card">
        <div class="card-body login-card-body">
          <div class="text-center">
            <img
              src="../../../../assets/dist/img/Logos/cbes-logo.png"
              alt="AdminLTE Logo"
              class="brand-image img-circle elevation-3"
              style="opacity: 1; background-color: white; width: 50%"
            />
            <div class="login-logo">
              <b>Administración de Archivos Clínicos</b>
            </div>
          </div>
          <hr />
          <p class="login-box-msg">Escriba sus credenciales.</p>

          <div class="mb-3">
            <input
              type="text"
              formControlName="user"
              class="form-control"
              placeholder="Nombre de Usuario o Correo Electrónico"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="user.valid || user.pristine"
            >
              El Nombre de Usuario o Correo Electrónico es obligatorio.
            </div>
          </div>
          <div class="mb-3">
            <input
              type="password"
              formControlName="pass"
              class="form-control"
              placeholder="Contraseña"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="pass.valid || pass.pristine"
            >
              La Contraseña es obligatorio.
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary"></div>
            </div>
            <div class="col-4">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                [hidden]="!formLogin.valid"
                [disabled]="isCLicked"
              >
                Ingresar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
