<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>500 Error Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/pages']">Home</a></li>
          <li class="breadcrumb-item active">500 Pagina de Error</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="error-page">
    <h2 class="headline text-danger">500</h2>

    <div class="error-content">
      <h3>
        <i class="fas fa-exclamation-triangle text-danger"></i>¡Ups! Algo salió
        mal.
      </h3>

      <p>
        Trabajaremos para solucionarlo de inmediato. Mientras tanto, puedes
        <a [routerLink]="['/pages']">retornar al Inicio</a>.
      </p>
    </div>
  </div>
</section>
