<!-- <p>especialidades-form works!</p> -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        {{ isEdit ? "Editar Especialidad" : "Agregar Especialidad" }}
      </h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        (click)="limpiar()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form
      action=""
      [formGroup]="formEspecialidad"
      (ngSubmit)="createEspecialidad()"
    >
      <div class="modal-body">
        <div class="mb-2">
          <label for="" class="form-label">Tipo Especilidad</label>
          <input
            type="text"
            formControlName="especialidad"
            class="form-control"
            placeholder="Ingrese Tipo Especialidad"
            uppercase
          />
          <div
            class="error mt-2"
            style="color: red"
            [hidden]="especialidad.valid || especialidad.pristine"
          >
            El Tipo de Especialidad es obligatorio
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [hidden]="formEspecialidad.invalid"
          [disabled]="isClicked"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
