<!-- <p>subir-archivos-form works!</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-info">
        <div class="card-header">
          <h2 class="card-title">SUBIR ARCHIVOS CLINICOS</h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <app-afiliado [header]="header" [show]="show"></app-afiliado>

          <section class="content">
            <div class="row">
              <!-- Card Lista de Carpetas -->
              <div class="col-md-3">
                <div class="mb-2">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-default btn-sm checkbox-toggle"
                      (click)="backFolder(path)"
                    >
                      <i class="fas fa-arrow-left"></i>
                    </button>
                    <span class="ml-2"
                      ><strong>./{{ currentFolder }}</strong></span
                    >
                  </div>
                </div>
                <div class="card card-primary card-outline">
                  <div class="card-body p-0">
                    <div class="table-responsive" style="height: 600px">
                      <ul class="nav nav-pills flex-column">
                        <li
                          class="nav-item"
                          style="border-bottom: 0px !important"
                          *ngFor="let item of listFolders"
                          id="itemFile"
                        >
                          <a
                            href="#"
                            class="nav-link"
                            onclick="event.preventDefault();"
                            (click)="listFolder(item.name)"
                            *ngIf="item.type == 2"
                          >
                            <i class="fas fa-folder text-warning"></i>
                            {{ item.name }}
                            <span class="right badge badge-secondary">{{
                              item.numArchivos
                            }}</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
              <!-- Fin -->

              <!-- Vista de las Carpetas y Archivos -->
              <div class="col-md-9">
                <div class="mb-2">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-default btn-sm checkbox-toggle"
                      (click)="upLoad(header.persona.idPer)"
                      [hidden]="!showCrearTomo"
                    >
                      <i class="fas fa-upload"></i> Subir Archivo
                    </button>
                    <button
                      type="button"
                      class="btn btn-default btn-sm checkbox-toggle"
                      (click)="newFolder()"
                      [hidden]="!showCrearTomo"
                    >
                      <i class="fas fa-folder-plus"></i> Crear Carpeta
                    </button>
                    <button
                      type="button"
                      class="btn btn-default btn-sm checkbox-toggle"
                      (click)="
                        newTomo(header.persona.idPer, header.unidad.idUni)
                      "
                      [hidden]="showCrearTomo"
                    >
                      <i class="fas fa-book-medical"></i> Crear Tomo
                    </button>
                    <div class="separate"></div>
                  </div>
                </div>
                <div class="card card-primary card-outline">
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <div class="table-responsive" style="height: 600px">
                      <div class="row col-md-12">
                        <div
                          class="col-sm-2 m-2 dropdown"
                          *ngFor="let item of listFolders"
                          id="itemFile"
                        >
                          <a
                            href="#"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                          >
                            <div class="text-center" style="font-size: 30px">
                              <i
                                class="fas fa-folder fa-lg text-warning"
                                style="width: 100%"
                                *ngIf="item.type == 2; else file"
                              ></i>
                              <ng-template #file>
                                <i
                                  class="fas fa-file-pdf fa-lg text-danger"
                                ></i>
                              </ng-template>
                            </div>
                            <p class="text-center">{{ item.name }}</p>
                            <ul class="dropdown-menu">
                              <li *ngIf="isProtect(item.name)">
                                <a
                                  class="dropdown-item"
                                  href="#"
                                  (click)="renameFolder(item)"
                                  >Editar Nombre</a
                                >
                              </li>
                              <li *ngIf="isProtect(item.name)">
                                <a
                                  class="dropdown-item"
                                  href="#"
                                  (click)="deleteFolder(item)"
                                  >Eliminar</a
                                >
                              </li>
                            </ul>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- /.mail-box-messages -->
                  </div>
                </div>
                <!-- /.card -->
              </div>
              <!-- Fin -->
            </div>
          </section>
          <!-- FIN -->

          <!-- Modal de Subida de Archivos -->
          <div class="modal fade" id="modal-up-load">
            <app-up-load
              [idPer]="idPer"
              [path]="path"
              [currentFolder]="currentFolder"
              (listaFolder)="listFolderOut()"
            ></app-up-load>
          </div>
          <!-- /.Modal -->
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>
