<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"
        ><i class="fas fa-bars"></i
      ></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <ng-select
        class="nav-link"
        [(ngModel)]="selectedRol"
        (change)="changeRol()"
        placeholder="Escoje el Rol para el Sistema"
      >
        <ng-option *ngFor="let r of roles" [value]="r['idRol']">{{
          r["rol"]
        }}</ng-option>
      </ng-select>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" data-bs-toggle="dropdown" href="#">
        {{ nomCompleto }}
        <span class="float-right text-sm ml-2">
          <i class="far fa-user"></i
        ></span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
        <div class="card">
          <div class="card-body">
            <p><strong>Nombre</strong>: {{ nomCompleto }}</p>
            <p><strong>Nombre Usuario</strong>: {{ nomUsuario }}</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-danger" (click)="logout()">
              Cerrar Sesión
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>
