<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">BUSCAR AFILIADOS</h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        (click)="cleaning()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="" [formGroup]="formAfiliado" (ngSubmit)="findAfiliado()">
        <div class="row">
          <div class="col-md-5">
            <input
              type="number"
              formControlName="ci"
              class="form-control mr-2"
              placeholder="CI del Afiliado"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="ci.valid || ci.pristine"
            >
              Escriba un CI valido.
            </div>
          </div>
          <div class="col-md-5">
            <input
              type="text"
              formControlName="matricula"
              class="form-control mr-2"
              placeholder="Esciba Matricula"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="matricula.valid || matricula.pristine"
            >
              Escriba una Matricula valido.
            </div>
          </div>
          <div class="col-md-2 text-right">
            <button
              type="submit"
              class="btn btn-primary"
              [hidden]="formAfiliado.invalid"
              [disabled]="isClicked"
            >
              BUSCAR
            </button>
          </div>
        </div>
      </form>
      <div class="row mt-3">
        <section *ngIf="cargando; else loaderOnError">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>NOMBRE</th>
                <th>MATRICULA</th>
                <th>CI</th>
                <th>EMPRESA</th>
                <th>TIPO BENEFICIARIO</th>
                <th>ESTADO</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of afiliados
                    | paginate
                      : {
                          itemsPerPage: cantReg,
                          currentPage: pagination,
                          totalItems: allAfiliados
                        }
                "
              >
                <td>
                  {{ item.ASE_NOM }} {{ item.ASE_APAT }} {{ item.ASE_AMAT }}
                </td>
                <td>{{ item.ASE_MAT_TIT }}</td>
                <td>{{ item.ASE_CI }}</td>
                <td>{{ item.EMP_NOM }}</td>
                <td>
                  {{ item.ASE_COND_EST == "T" ? "TITULAR" : item.PAR_DESC }}
                </td>
                <td>{{ item.ASE_ESTADO }}</td>
                <td>
                  <button
                    class="btn btn-success"
                    (click)="selectAfialiado(item)"
                    [disabled]="isClicked"
                  >
                    <i class="fa fa-check"></i> Seleccionar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <div class="d-flex justify-content-center">
          <div class="col-md-1">
            <label for="form-label">Ver:</label>
          </div>
          <div class="col-md-1">
            <select
              name="cantReg"
              [(ngModel)]="cantReg"
              class="form-control"
              (change)="numRegistro()"
            >
              <option [value]="5">5</option>
              <option [value]="15" selected>15</option>
              <option [value]="20">15</option>
              <option [value]="25">25</option>
              <option [value]="30">30</option>
              <option [value]="35">35</option>
            </select>
          </div>
          <div class="col-md-10">
            <pagination-controls
              (pageChange)="renderPage($event)"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        data-bs-dismiss="modal"
        (click)="cleaning()"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>

<ng-template #loaderOnError>
  <section *ngIf="hasError; else loader">
    Ha ocurrido un error, refrescar la pagina para intentar nuevamente.
  </section>
  <ng-template #loader>
    <div class="d-flex justify-content-center text-center">
      <span class="loader"></span>
      <!-- <table class="table">
        <tr>
          <td class="text-center">
            <img
              class="img-circle animation__shake"
              src="../../../../assets/dist/img/cbes-logo.png"
              alt="CBES"
              height="100"
              width="100"
            />
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <span class="loader"></span>
            <div>
              <p>CARGANDO... <i class="grande fas fa-spinner fa-spin"></i></p>
            </div>
          </td>
        </tr>
      </table> -->
    </div>

    <!-- <div class="d-flex justify-content-center">
      <i class="grande fas fa-spinner fa-spin"></i>
    </div> -->
  </ng-template>
</ng-template>
