<!-- <p>selec-medico works!</p> -->
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">BUSCAR MEDICO PARA PRESTAMOS</h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        (click)="cleaning()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form action="" [formGroup]="formMedicos" (ngSubmit)="findMedicos()">
        <div class="row">
          <div class="col-md-5">
            <input
              type="text"
              formControlName="paterno"
              class="form-control mr-2"
              placeholder="Apellido Paterno del Médico"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="paterno.valid || paterno.pristine"
            >
              Escriba un Apellido Paterno de Médico valido.
            </div>
          </div>
          <div class="col-md-5">
            <input
              type="text"
              formControlName="nombre"
              class="form-control mr-2"
              placeholder="Nombre del Médico"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="nombre.valid || nombre.pristine"
            >
              Escriba un Nombre de Médico valido.
            </div>
          </div>
          <div class="col-md-2 text-right">
            <button
              type="submit"
              class="btn btn-primary"
              [hidden]="formMedicos.invalid"
              [disabled]="isClicked"
            >
              BUSCAR
            </button>
          </div>
        </div>
      </form>
      <div class="row mt-3">
        <section *ngIf="cargando; else loaderOnError">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>NOMBRE</th>
                <th>ESPECIALIDAD</th>
                <th>MATRICULA</th>
                <th>ACCIONES</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of medicos
                    | paginate
                      : {
                          itemsPerPage: cantReg,
                          currentPage: pagination,
                          totalItems: allMedicos
                        }
                "
              >
                <td>
                  {{ item.MEDI_NOM }} {{ item.MEDI_APAT }} {{ item.MEDI_AMAT }}
                </td>
                <td>{{ item.ESP_NOM }}</td>
                <td>{{ item.MEDI_COD }}</td>
                <td>
                  <button class="btn btn-success" (click)="selectMedico(item)">
                    <i class="fa fa-check"></i> Seleccionar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <div class="d-flex justify-content-center">
          <div class="col-md-1">
            <label for="form-label">Ver:</label>
          </div>
          <div class="col-md-1">
            <select
              name="cantReg"
              [(ngModel)]="cantReg"
              class="form-control"
              (change)="numRegistro()"
            >
              <option [value]="5">5</option>
              <option [value]="15" selected>15</option>
              <option [value]="20">15</option>
              <option [value]="25">25</option>
              <option [value]="30">30</option>
              <option [value]="35">35</option>
            </select>
          </div>
          <div class="col-md-10">
            <pagination-controls
              (pageChange)="renderPage($event)"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        data-bs-dismiss="modal"
        (click)="cleaning()"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>

<ng-template #loaderOnError>
  <section *ngIf="hasError; else loader">
    Ha ocurrido un error, refrescar la pagina para intentar nuevamente.
  </section>
  <ng-template #loader>
    <div class="d-flex justify-content-center">
      <i class="grande fas fa-spinner fa-spin"></i>
    </div>
  </ng-template>
</ng-template>
