<!-- <p>path-download works!</p> -->
<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        COPIE LA DIRECCION DONDE DESEA GUARDA EN SU COMPUTADORA
      </h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        (click)="cleaning()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form action="" [formGroup]="formPath" (ngSubmit)="sendRuta()">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <input
              type="text"
              formControlName="ruta"
              class="form-control mr-2"
              placeholder="Ruta de Descarga..."
            />
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="cleaning()"
        >
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          (click)="sendRuta()"
        >
          Seleccionar
        </button>
      </div>
    </form>
  </div>
</div>
