<!-- <p>up-load works!</p> -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">INFORMACION DEL ARCHIVOS A SUBIR</h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        (click)="limpiar()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="" [formGroup]="formUpLoad" (ngSubmit)="createUpLoad()">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <label for="" class="form-label">Tomo:</label>
            <input
              type="text"
              class="form-control"
              [value]="currentTomo"
              disabled
            />
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">Carpeta Seleccionada: </label>
            <input
              type="text"
              class="form-control"
              [value]="currentFolder"
              disabled
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="" class="form-label">Tipo de Atención:</label>
            <ng-select [(ngModel)]="selectedTp" formControlName="tipoAtencion">
              <ng-option *ngFor="let tp of tiposAtencion" [value]="tp.idTip">{{
                tp.tipo
              }}</ng-option>
            </ng-select>
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="tipoAtencion.valid || tipoAtencion.pristine"
            >
              Seleccione un Tipo de Atención de la lista, porque es obligatorio
            </div>
          </div>
          <div class="col-md-4">
            <label for="" class="form-label">Especialidad:</label>
            <ng-select [(ngModel)]="selectedEsp" formControlName="especialidad">
              <ng-option *ngFor="let to of especialidades" [value]="to.idEsp">{{
                to.especialidad
              }}</ng-option>
            </ng-select>
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="especialidad.valid || especialidad.pristine"
            >
              Seleccione una Especialidad de la lista, porque es obligatorio
            </div>
          </div>
          <div class="col-md-4">
            <label for="" class="form-label">Fecha de Atención:</label>
            <input
              type="date"
              class="form-control"
              formControlName="fechaAtencion"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="fechaAtencion.valid || fechaAtencion.pristine"
            >
              La Fecha de Atención es obligatorio
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="" class="form-label">CIE-10 a Buscar:</label>
            <input
              type="text"
              class="form-control"
              formControlName="buscar"
              [(ngModel)]="buscarCie"
              (change)="findCie10()"
              placeholder="Escribe el código a buscar"
            />
          </div>
          <div class="col-md-8">
            <label for="" class="form-label">CIE-10 Listado:</label>
            <ng-select
              [(ngModel)]="selectedTom"
              formControlName="cie"
              placeholder="Seleccione un item"
            >
              <ng-option *ngFor="let ci of cies" [value]="ci.completo"
                >{{ ci.CIE10_4DIG_COD }} - {{ ci.CIE10_4DIG }}</ng-option
              >
            </ng-select>
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="fechaAtencion.valid || fechaAtencion.pristine"
            >
              La Fecha de Atención es obligatorio
            </div>
          </div>
        </div>
        <hr class="mt-3 mb-3" style="background-color: gray; height: 1px" />
        <div class="row">
          <h5>Archivo a Subir</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="" class="form-label"
              >Seleccione el Archivo a subir:</label
            >
            <input
              type="file"
              (change)="capturarFile($event)"
              class="form-control"
              accept="application/pdf"
            />
          </div>
        </div>
        <hr class="mt-3 mb-3" style="background-color: gray; height: 1px" />
        <div class="row">
          <h5>Información de examenes complementarios:</h5>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="" class="form-label">CD:</label>
            <input type="number" class="form-control" formControlName="cd" />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="cd.valid || cd.pristine"
            >
              EL número de CD es obligatorio
            </div>
          </div>
          <div class="col-md-3">
            <label for="">Rayos X:</label>
            <input type="number" class="form-control" formControlName="rx" />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="rx.valid || rx.pristine"
            >
              EL número de Rayos X es obligatorio
            </div>
          </div>
          <div class="col-md-3">
            <label for="" class="form-label">Tomografia:</label>
            <input
              type="number"
              class="form-control"
              formControlName="tomografia"
            />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="tomografia.valid || tomografia.pristine"
            >
              EL número de Tomografía es obligatorio
            </div>
          </div>
          <div class="col-md-3">
            <label for="" class="form-label">Fojas:</label>
            <input type="number" class="form-control" formControlName="fojas" />
            <div
              class="error mt-2"
              style="color: red"
              [hidden]="fojas.valid || fojas.pristine"
            >
              EL número de Fojas es obligatorio
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="limpiar()"
        >
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [hidden]="formUpLoad.invalid"
          [disabled]="isClicked"
        >
          Guardar
        </button>
        {{ formUpLoad.value | json }}
      </div>
    </form>
  </div>
</div>
