<!-- <p>cargando works!</p> -->
<p>
  <strong>DEJANDO TODO LISTO PARA USTED...</strong>
</p>
<img
  class="img-circle animation__shake"
  src="../../../../assets/dist/img/cbes-logo.png"
  alt="CBES"
  height="80"
  width="80"
/>
