<!-- <p>afiliado works!</p> -->
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5">
            <label for="">Nombre:</label>
            {{ show ? header.persona.nombres : "" }}
            {{ show ? header.persona.apPaterno : "" }}
            {{ show ? header.persona.apMaterno : "" }}
          </div>
          <div class="col-md-4">
            <label for="">Matrícula:</label>
            {{ show ? header.persona.matriculaBeneficiario : "" }}
          </div>
          <div class="col-md-3">
            <label for="">C.I.:</label>
            {{ show ? header.persona.ciTitular : "" }}
            {{ show ? header.persona.expedido : "" }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="">Tipo Beneficiario:</label>
            {{ show ? header.persona.codigoDescripcion : "" }}
          </div>
          <div class="col-md-6">
            <label for="">Estado:</label>
            {{ show ? header.persona.estadoAfiliacion : "" }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="">Empresa:</label>
            {{ show ? header.persona.empresa : "" }}
          </div>
          <div class="col-md-6">
            <label for="">Unidad / Area:</label>
            {{ show ? header.unidad.unidad : "" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
