<p>sel-unidad works!</p>
<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">SELECCIONAR UNIDAD</h5>
      <button type="button" class="close" data-bs-dismiss="modal">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <label for="" class="form-label">Unidad</label>
        <ng-select [(ngModel)]="selectedUni" #name="ngModel">
          <ng-option *ngFor="let uni of unidades" [value]="uni.idCar">{{
            uni.unidad.unidad
          }}</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
        Cerrar
      </button>
      <button type="button" class="btn btn-primary" (click)="selectUnidad()">
        Seleccionar
      </button>
    </div>
  </div>
</div>
