/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/gh/davicotico/Menu-Editor@1.1.0/dist/styles.min.css");
@import "~@ng-select/ng-select/themes/default.theme.css";

.login-page,
.register-page {
  background-image: url(./assets/dist/img/Fondos/fondo-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.puntero {
  cursor: pointer !important;
}

.entrada {
  display: -ms-flexbox;
  display: flex;
  /* background-color: #f4f6f9; */
  color: white;
  background-color: #343a40;
  height: 100vh;
  width: 100%;
  transition: height 200ms linear;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}

.entrada img {
  background-color: white;
}

.salida {
  display: none;
  display: flex;
  background-color: #f4f6f9;
  height: 0vh;
  width: 0%;
  transition: height 200ms linear;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}

.salida img {
  display: none;
}
