<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-danger">
        <div class="card-header">
          <h2 class="card-title">BUSCAR ARCHIVOS CLINICOS</h2>
        </div>
        <div class="card-body">
          <app-afiliado [header]="header" [show]="show"></app-afiliado>
        </div>
      </div>

      <div class="card card-danger card-outline">
        <form action="" [formGroup]="formBuscar" (ngSubmit)="findFile()">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <ng-select
                  [(ngModel)]="selectedTa"
                  formControlName="tipoAtencion"
                  placeholder="Seleccione una Tipo Atención de la lista."
                >
                  <ng-option *ngFor="let ta of listTa" [value]="ta.idTip">{{
                    ta.tipo
                  }}</ng-option>
                </ng-select>
              </div>
              <div class="col-md-4">
                <ng-select
                  [(ngModel)]="selectedEsp"
                  formControlName="especialidad"
                  placeholder="Seleccione una Especialidad de la lista."
                >
                  <ng-option *ngFor="let esp of listEsp" [value]="esp.idEsp">{{
                    esp.especialidad
                  }}</ng-option>
                </ng-select>
              </div>
              <div class="col-md-2">
                <input
                  type="date"
                  formControlName="fIni"
                  class="form-control mr-2"
                  placeholder="Seleccione Fecha de Inicio"
                />
              </div>
              <div class="col-md-2">
                <input
                  type="date"
                  formControlName="fFin"
                  class="form-control mr-2"
                  placeholder="Seleccione Fecha de Final"
                />
              </div>
              <div class="col-md-1 text-right">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="isClicked"
                >
                  BUSCAR
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="row mt-3">
          <section *ngIf="cargando; else loaderOnError">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>NUM</th>
                  <th>TOMO</th>
                  <th>DESCRIPCION-TOMO</th>
                  <th>ARCHIVO</th>
                  <th>DEESCRIPCION-ARCHIVO</th>
                  <th>TIPO DE ATENCION</th>
                  <th>ESPECIALIDAD</th>
                  <th>ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of archivos
                      | paginate
                        : {
                            itemsPerPage: cantReg,
                            currentPage: pagination,
                            totalItems: allArchivos
                          }
                  "
                >
                  <td>
                    {{ item.idCar }}
                  </td>
                  <td>
                    {{ item.tomo.tomo }}
                  </td>
                  <td>
                    <strong>Num. CD</strong>: {{ item.tomo.cd }}<br />
                    <strong>Num. RX</strong>: {{ item.tomo.rx }}<br />
                    <strong>Num. Tomografía</strong>: {{ item.tomo.tomografia
                    }}<br />
                    <strong>Num. Fojas</strong>: {{ item.tomo.fojas }}
                  </td>
                  <td>{{ nomArchivo(item.ruta) }}</td>
                  <td>
                    <strong>Num. CD</strong>: {{ item.cd }}<br />
                    <strong>Num. RX</strong>: {{ item.rx }}<br />
                    <strong>Num. Tomografía</strong>: {{ item.tomografia
                    }}<br />
                    <strong>Num. Fojas</strong>: {{ item.fojas }}
                  </td>
                  <td>{{ item.tipoAtencion.tipo }}</td>
                  <td>{{ item.especialidad.especialidad }}</td>
                  <td>
                    <button
                      class="btn btn-info"
                      (click)="receivePath(item.ruta)"
                      [hidden]="!verificar('DESCARGAR_ARCHIVOS')"
                    >
                      <i class="fas fa-download"></i> Descargar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>

          <div class="d-flex justify-content-center">
            <div class="col-md-1">
              <label for="form-label">Ver:</label>
            </div>
            <div class="col-md-2">
              <select
                name="cantReg"
                [(ngModel)]="cantReg"
                class="form-control"
                (change)="numRegistro()"
              >
                <option [value]="5">5</option>
                <option [value]="15" selected>15</option>
                <option [value]="20">15</option>
                <option [value]="25">25</option>
                <option [value]="30">30</option>
                <option [value]="35">35</option>
              </select>
            </div>
            <div class="col-md-9">
              <pagination-controls
                (pageChange)="renderPage($event)"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Seleccionar donde se desea Descargar -->
<div class="modal fade" id="modal-path-download">
  <app-path-download (path)="receivePath($event)"></app-path-download>
</div>
<!-- Fin -->

<ng-template #loaderOnError>
  <section *ngIf="hasError; else loader">
    Ha ocurrido un error, refrescar la pagina para intentar nuevamente.
  </section>
  <ng-template #loader>
    <div class="d-flex justify-content-center">
      <i class="grande fas fa-spinner fa-spin"></i>
    </div>
  </ng-template>
</ng-template>
