<!-- <p>unidades-form works!</p> -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        {{ isEdit ? "Editar Unidad" : "Agregar Unidad" }}
      </h5>
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        (click)="limpiar()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="" [formGroup]="formUnidad" (ngSubmit)="createUnidad()">
      <div class="modal-body">
        <div class="mb-2">
          <label for="" class="form-label">Unidad</label>
          <input
            type="text"
            formControlName="unidad"
            class="form-control"
            placeholder="Ingrese Unidad"
          />
          <div
            class="error mt-2"
            style="color: red"
            [hidden]="unidad.valid || unidad.pristine"
          >
            La Unidad es obligatorio
          </div>
        </div>
        <div class="mb-2">
          <label for="" class="form-label">Sigla</label>
          <input
            type="text"
            formControlName="sigla"
            class="form-control"
            placeholder="Ingrese Sigla"
          />
          <div
            class="error mt-2"
            style="color: red"
            [hidden]="sigla.valid || sigla.pristine"
          >
            La Unidad es obligatorio
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="limpiar()"
        >
          Cerrar
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [hidden]="formUnidad.invalid"
          [disabled]="isClicked"
        >
          {{ isEdit ? "Editar" : "Guardar" }}
        </button>
      </div>
    </form>
  </div>
</div>
