<section *ngIf="hasError; else loader">
  Ha ocurrido un error, refrescar la pagina para intentar nuevamente.
</section>
<ng-template #loader>
  <div class="d-flex justify-content-center">
    <table class="table">
      <tr>
        <td class="text-center">
          <img
            class="img-circle animation__shake"
            src="../../../../assets/dist/img/cbes-logo.png"
            alt="CBES"
            height="100"
            width="100"
          />
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <div>
            <p>CARGANDO... <i class="grande fas fa-spinner fa-spin"></i></p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</ng-template>
